.CenteringElements {
	align-self: start;
	align-items: flex-start;
	text-align: start;
}

.AlignDivs {
	/* float: left; */
	display: inline-block;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.inner {
	width: 50%;
	margin: 0 auto;
}

.ProfileImg {
	border-radius: 50%;
}
